@using WebMusic.Models;
@model List<ARTIST>

    <div class="FeaturedArtists-right1">
        <p class="featured-title1">FEATURED ARTIST</p>
        <hr align=left>
        <div class="img-featuredartists1">
            @{
                foreach (var item in Model)
                {
                    <div class="top-Artist1">
                        <img src="@Url.Content(item.IMG)" alt="">
                        <div class="top-Artist-control1">
                            <span>Follow</span>
                            <button class="top-Artist-fb1">
                                <i class="fa fa-facebook"></i>
                            </button>
                            <button class="top-Artist-tw1"><i class="fa fa-twitter"></i></button>
                        </div>
                        <div class="top-Artist-name1">
                            <a href="#" id="name-Artists1" onclick="detail_Artist('@item.NAME'); return false;">@item.NAME</a>
                        </div>
                    </div>
                }
            }


        </div>
    </div>