
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/ChartStemLayout.cshtml";
}
<link href="~/Content/Css/charts-detail.css" rel="stylesheet" />
<div class="content">
    <div id="charts-detail">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    @Html.Action("ChartsDetailPartial", "ChartsDetail");
                    @Html.Action("TracksDetailPartial", "ChartsDetail");
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Javascript/chart.js"></script>
