USE [master]
GO
/****** Object:  Database [Music]    Script Date: 5/7/2016 5:46:36 PM ******/
CREATE DATABASE [Music]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Music', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Music.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Music_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\Music_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Music].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Music]
GO
/****** Object:  Table [dbo].[ARTIST]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIST](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[BORN] [nvarchar](100) NULL,
	[DATE] [date] NULL,
	[DESCRIP] [nvarchar](4000) NULL,
	[TW] [nvarchar](100) NULL,
	[FB] [nvarchar](100) NULL,
	[ID_LABEL] [smallint] NULL,
	[IMG] [nvarchar](150) NULL,
	[NAME_LABEL] [nvarchar](100) NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
 CONSTRAINT [PK_ARTIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CARD]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD](
	[NUMBER] [nvarchar](30) NOT NULL,
	[PASSWORD] [nvarchar](20) NULL,
 CONSTRAINT [PK_CARD] PRIMARY KEY CLUSTERED 
(
	[NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHART]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHART](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DATE_RELEASE] [date] NULL,
	[DESCRIP] [nvarchar](500) NULL,
	[NAME_GENRE] [nvarchar](50) NULL,
	[LINK_IMG] [nchar](50) NULL,
	[COST] [float] NULL,
	[ID_GENRE] [smallint] NULL,
	[TYPE] [tinyint] NULL,
 CONSTRAINT [PK_CHART] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FORMULA_HOT]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMULA_HOT](
	[CLICK] [int] NOT NULL,
	[BUY] [int] NOT NULL,
 CONSTRAINT [PK_FORMULA_HOT] PRIMARY KEY CLUSTERED 
(
	[CLICK] ASC,
	[BUY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DESCRIP] [nvarchar](4000) NULL,
	[TEMPO] [tinyint] NULL,
 CONSTRAINT [PK_GENRE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE_ARTIST]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE_ARTIST](
	[ID_ARTIST] [int] NOT NULL,
	[ID_GENRE] [smallint] NOT NULL,
	[POINT] [tinyint] NULL,
	[NAME_GENRE] [nvarchar](50) NULL,
	[NAME_LABEL] [nvarchar](100) NULL,
 CONSTRAINT [PK_GENRE_ARTIST] PRIMARY KEY CLUSTERED 
(
	[ID_ARTIST] ASC,
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENRE_LABEL]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENRE_LABEL](
	[ID_LABEL] [smallint] NOT NULL,
	[ID_GENRE] [smallint] NOT NULL,
	[NAME_GENRE] [nvarchar](50) NULL,
	[POINT] [int] NULL,
 CONSTRAINT [PK_GENRE_LABEL] PRIMARY KEY CLUSTERED 
(
	[ID_LABEL] ASC,
	[ID_GENRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HISTORY_USER]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORY_USER](
	[ID_USER] [int] NOT NULL,
	[TIME] [date] NOT NULL,
	[ID_TRACK] [int] NOT NULL,
	[COST] [float] NULL,
	[TYPE] [tinyint] NOT NULL,
	[RANK] [tinyint] NULL,
	[DISTANCE_NEAR] [smallint] NULL,
 CONSTRAINT [PK_HISTORY_USER] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_TRACK] ASC,
	[TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOME_HOT_NEW]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOME_HOT_NEW](
	[ID] [int] NOT NULL,
	[LINK_IMG] [nvarchar](100) NULL,
 CONSTRAINT [PK_HOME_HOT_NEW_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Home_NewTrack]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Home_NewTrack](
	[s] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Home_NewTrack] PRIMARY KEY CLUSTERED 
(
	[s] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LABEL]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LABEL](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[FOUNDED] [date] NULL,
	[FOUNDER] [nvarchar](100) NULL,
	[LOCATION] [nvarchar](100) NULL,
	[DESCRIP] [nvarchar](4000) NULL,
	[LINK] [nvarchar](150) NULL,
	[LINK_IMG] [nvarchar](150) NULL,
 CONSTRAINT [PK_LABEL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NEW_TRACK]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEW_TRACK](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[LINK_IMG] [nvarchar](150) NULL,
	[LINK] [nvarchar](150) NULL,
	[RANKK] [tinyint] NULL,
	[COST] [float] NULL,
 CONSTRAINT [PK_NEW_TRACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REMIX]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMIX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[TEMPO] [int] NULL,
	[KEY_] [nvarchar](20) NULL,
	[COST] [float] NULL,
	[LINK] [nvarchar](150) NULL,
	[DATE_RELEASE] [date] NULL,
	[LINK_IMG] [nvarchar](150) NULL,
	[ID_TRACK] [int] NULL,
	[LENGTH] [nvarchar](10) NULL,
	[GENRE] [nvarchar](50) NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
	[FULL_ARTIST] [nvarchar](100) NULL,
 CONSTRAINT [PK_REMIX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REMIX_ARTIST]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REMIX_ARTIST](
	[ID_REMIX] [int] NOT NULL,
	[ID_ARTIST] [int] NOT NULL,
	[NAME_ARTIST] [nvarchar](100) NULL,
	[NAME_LABEL] [nvarchar](100) NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
	[GENRE] [nvarchar](50) NULL,
 CONSTRAINT [PK_REMIX_ARTIST] PRIMARY KEY CLUSTERED 
(
	[ID_REMIX] ASC,
	[ID_ARTIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SALE]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALE](
	[LEVEL_] [tinyint] NOT NULL,
	[SALE_INDEX] [tinyint] NULL,
	[CONDITION] [float] NULL,
 CONSTRAINT [PK_SALE] PRIMARY KEY CLUSTERED 
(
	[LEVEL_] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHOW]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ARTIST] [int] NULL,
	[NAME] [nvarchar](150) NULL,
	[LOCATION] [nvarchar](150) NULL,
	[TIME] [date] NULL,
 CONSTRAINT [PK_SHOW] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SOUNDS]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOUNDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[LABEL_ID] [smallint] NULL,
	[RELEASE_DATE] [date] NULL,
	[DATA_SIZE] [nchar](100) NULL,
	[DESCRIP] [nvarchar](4000) NULL,
	[COST] [float] NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
	[LINK_IMG] [nchar](50) NULL,
 CONSTRAINT [PK_SOUNDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATISTIC_ARTIST]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTIC_ARTIST](
	[ID_ARTIST] [int] NOT NULL,
	[CLICK_MONTH] [int] NULL,
	[CLICK_ALL] [int] NULL,
	[BUY_MONTH] [int] NULL,
	[BUY_ALL] [int] NULL,
 CONSTRAINT [PK_STATISTIC_ARTIST] PRIMARY KEY CLUSTERED 
(
	[ID_ARTIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATISTIC_REMIX]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTIC_REMIX](
	[ID] [int] NOT NULL,
	[CLICK_ALL] [int] NULL,
	[CLICK_MONTH] [int] NULL,
	[BUY_ALL] [int] NULL,
	[BUY_MONTH] [int] NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
 CONSTRAINT [PK_STATISTIC_REMIX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STATISTIC_TRACK]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATISTIC_TRACK](
	[ID] [int] NOT NULL,
	[CLICK_ALL] [int] NULL,
	[CLICK_MONTH] [int] NULL,
	[BUY_ALL] [int] NULL,
	[BUY_MONTH] [int] NULL,
 CONSTRAINT [PK_STATISTIC_TRACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STEM]    Script Date: 5/7/2016 5:46:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[TEMPO] [tinyint] NULL,
	[KEY_] [nchar](20) NULL,
	[COST] [float] NULL,
	[LINK] [nchar](50) NULL,
	[LINK_IMG] [nchar](50) NULL,
	[DESCRIP] [nvarchar](500) NULL,
	[LENGTH] [nchar](20) NULL,
	[POINT_MONTH] [int] NULL,
	[POIN_ALL] [int] NULL,
	[STEMS_ID] [int] NULL,
	[GENRE] [nvarchar](50) NULL,
 CONSTRAINT [PK_STEM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STEM_ARTIST]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEM_ARTIST](
	[STEM_ID] [int] NOT NULL,
	[ARTIST_ID] [int] NOT NULL,
	[ARTIST_NAME] [nvarchar](50) NULL,
	[NAME_LABEL] [nvarchar](50) NULL,
	[NAME_STEM] [nvarchar](50) NULL,
 CONSTRAINT [PK_STEM_ARTIST] PRIMARY KEY CLUSTERED 
(
	[STEM_ID] ASC,
	[ARTIST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STEMS]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEMS](
	[STEMS_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[DATE_RELEASE] [date] NULL,
	[COST] [float] NULL,
	[CATALOG] [nvarchar](50) NULL,
	[IMG] [nchar](50) NULL,
 CONSTRAINT [PK_STEMS] PRIMARY KEY CLUSTERED 
(
	[STEMS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOP_6_DJ]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOP_6_DJ](
	[RANK] [int] NOT NULL,
	[ID_ARTIST] [int] NULL,
	[NAME_ARTIST] [nvarchar](100) NULL,
	[IMG] [nvarchar](150) NULL,
 CONSTRAINT [PK_TOP_6_DJ] PRIMARY KEY CLUSTERED 
(
	[RANK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACK]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[TEMPO] [tinyint] NULL,
	[KEY_] [nvarchar](20) NULL,
	[COST] [float] NULL,
	[LINK] [nvarchar](150) NULL,
	[DATE_RELEASE] [date] NULL,
	[LINK_IMG] [nvarchar](150) NULL,
	[DESCRIPT] [nvarchar](4000) NULL,
	[LENGTH] [nvarchar](10) NULL,
	[GENRE] [nvarchar](50) NULL,
	[POINT_MONTH] [int] NULL,
	[POINT_ALL] [int] NULL,
	[FULL_ARTIST] [nvarchar](300) NULL,
 CONSTRAINT [PK_TRACK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TRACK_ARTIST]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACK_ARTIST](
	[ID_TRACK] [int] NOT NULL,
	[ID_ARTIST] [int] NOT NULL,
	[NAME_ARTIST] [nvarchar](100) NULL,
	[NAME_LABEL] [nvarchar](100) NULL,
	[COST] [float] NULL,
	[NAME_TRACK] [nvarchar](100) NULL,
	[POINT_ALL] [int] NULL,
	[POINT_MONTH] [int] NULL,
	[GENRE] [nvarchar](50) NULL,
 CONSTRAINT [PK_TRACK_ARTIST] PRIMARY KEY CLUSTERED 
(
	[ID_TRACK] ASC,
	[ID_ARTIST] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nvarchar](100) NULL,
	[PASSWORD] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[LEVEL_] [tinyint] NULL,
	[LASTNAME] [nvarchar](100) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_TRACKLIST]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_TRACKLIST](
	[ID_USER] [int] NOT NULL,
	[ID_PROD] [int] NOT NULL,
	[TYPE] [tinyint] NULL,
 CONSTRAINT [PK_USER_TRACKLIST] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_PROD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER_VIDEOLIST]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_VIDEOLIST](
	[ID_USER] [int] NOT NULL,
	[ID_VIDEO] [int] NOT NULL,
 CONSTRAINT [PK_USER_VIDEOLIST] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC,
	[ID_VIDEO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIDEO]    Script Date: 5/7/2016 5:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIDEO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](150) NULL,
	[DESCRIPT] [nvarchar](200) NULL,
	[TIME] [date] NULL,
	[LINK] [nvarchar](150) NULL,
 CONSTRAINT [PK_VIDEO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ARTIST] ON 

SET IDENTITY_INSERT [dbo].[ARTIST] OFF
INSERT [dbo].[CARD] ([NUMBER], [PASSWORD]) VALUES (N'0962095492', N'1')
INSERT [dbo].[CARD] ([NUMBER], [PASSWORD]) VALUES (N'0977712157', N'1')
SET IDENTITY_INSERT [dbo].[CHART] ON 

INSERT [dbo].[CHART] ([ID], [NAME], [DATE_RELEASE], [DESCRIP], [NAME_GENRE], [LINK_IMG], [COST], [ID_GENRE], [TYPE]) VALUES (1, N'Future House Chart 2016', CAST(0x4C3B0B00 AS Date), N'bang xep hang nhac House', N'FUTURE HOUSE', NULL, 4.15, 2, NULL)
INSERT [dbo].[CHART] ([ID], [NAME], [DATE_RELEASE], [DESCRIP], [NAME_GENRE], [LINK_IMG], [COST], [ID_GENRE], [TYPE]) VALUES (2, N'Trap Chart 2016', CAST(0x4C3B0B00 AS Date), N'bang xep hang nhac trap', N'TRAP', NULL, 4.15, 1, NULL)
INSERT [dbo].[CHART] ([ID], [NAME], [DATE_RELEASE], [DESCRIP], [NAME_GENRE], [LINK_IMG], [COST], [ID_GENRE], [TYPE]) VALUES (3, N'Progressive House Chart 2016', CAST(0x4C3B0B00 AS Date), N'bang xep hang progressive house', N'PROGRESSIVE HOUSE', NULL, 4.15, 3, NULL)
SET IDENTITY_INSERT [dbo].[CHART] OFF
INSERT [dbo].[FORMULA_HOT] ([CLICK], [BUY]) VALUES (25, 75)
SET IDENTITY_INSERT [dbo].[GENRE] ON 

SET IDENTITY_INSERT [dbo].[GENRE] OFF
INSERT [dbo].[GENRE_ARTIST] ([ID_ARTIST], [ID_GENRE], [POINT], [NAME_GENRE], [NAME_LABEL]) VALUES (8, 1, 71, N'TRAP', N'Spinnin'' Records')
INSERT [dbo].[GENRE_ARTIST] ([ID_ARTIST], [ID_GENRE], [POINT], [NAME_GENRE], [NAME_LABEL]) VALUES (8, 2, 30, N'FUTURE HOUSE', N'Spinnin'' Records')
INSERT [dbo].[GENRE_ARTIST] ([ID_ARTIST], [ID_GENRE], [POINT], [NAME_GENRE], [NAME_LABEL]) VALUES (8, 3, 0, N'PROGRESSIVE HOUSE', N'Spinnin'' Records')
GO
INSERT [dbo].[GENRE_LABEL] ([ID_LABEL], [ID_GENRE], [NAME_GENRE], [POINT]) VALUES (1, 1, N'TRAP', 63)
INSERT [dbo].[GENRE_LABEL] ([ID_LABEL], [ID_GENRE], [NAME_GENRE], [POINT]) VALUES (1, 2, N'FUTURE HOUSE', 112)
INSERT [dbo].[GENRE_LABEL] ([ID_LABEL], [ID_GENRE], [NAME_GENRE], [POINT]) VALUES (1, 3, N'PROGRESSIVE HOUSE', 57)
INSERT [dbo].[HISTORY_USER] ([ID_USER], [TIME], [ID_TRACK], [COST], [TYPE], [RANK], [DISTANCE_NEAR]) VALUES (1, CAST(0x4C3B0B00 AS Date), 1, 1, 1, 1, 12)
INSERT [dbo].[HISTORY_USER] ([ID_USER], [TIME], [ID_TRACK], [COST], [TYPE], [RANK], [DISTANCE_NEAR]) VALUES (1, CAST(0x363B0B00 AS Date), 2, 2, 2, 2, 32767)
INSERT [dbo].[HOME_HOT_NEW] ([ID], [LINK_IMG]) VALUES (1, N'./IMG/Home/HotSlider/1.jpg')
INSERT [dbo].[HOME_HOT_NEW] ([ID], [LINK_IMG]) VALUES (2, N'./IMG/Home/HotSlider/2.jpg')
INSERT [dbo].[HOME_HOT_NEW] ([ID], [LINK_IMG]) VALUES (3, N'./IMG/Home/HotSlider/3.jpg')
SET IDENTITY_INSERT [dbo].[LABEL] ON 

SET IDENTITY_INSERT [dbo].[LABEL] OFF
INSERT [dbo].[NEW_TRACK] ([ID], [NAME], [LINK_IMG], [LINK], [RANKK], [COST]) VALUES (1, N'AHORA', N'./IMG/Track/Alesso/ahora016.jpg', N'./music/1.mp3', 29, 1.25)
INSERT [dbo].[NEW_TRACK] ([ID], [NAME], [LINK_IMG], [LINK], [RANKK], [COST]) VALUES (2, N'BAD THING 3', N'./IMG/Track/Alesso/badthing3.jpg', N'./music/10.mp3', 5, 1.3)
INSERT [dbo].[NEW_TRACK] ([ID], [NAME], [LINK_IMG], [LINK], [RANKK], [COST]) VALUES (3, N'CLUBBER GUIDE', N'./IMG/Track/Alesso/clubberguide.jpg', N'./music/13.mp3', 31, 1.41)
SET IDENTITY_INSERT [dbo].[REMIX] ON 

INSERT [dbo].[REMIX] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [DATE_RELEASE], [LINK_IMG], [ID_TRACK], [LENGTH], [GENRE], [POINT_MONTH], [POINT_ALL], [FULL_ARTIST]) VALUES (1, N'AHORA', 124, N'D MIN', 1.25, N'/music/1.mp3', CAST(0xFB3A0B00 AS Date), N'/IMG/Track/Alesso/ahora016.jpg', 1, N'3:01', N'DRUM BASS', 515, 515, N'AHORA - DAVID GUETTA ft DJ SNAKE')
INSERT [dbo].[REMIX] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [DATE_RELEASE], [LINK_IMG], [ID_TRACK], [LENGTH], [GENRE], [POINT_MONTH], [POINT_ALL], [FULL_ARTIST]) VALUES (2, N'BAD THING 3', 130, N'E MIN', 1.3, N'/music/10.mp3', CAST(0x2D3B0B00 AS Date), N'/IMG/Track/Alesso/badthing3.jpg', 2, N'3:01', N'HARDDANCE', 484, 484, N'BAD THING 3 - NICKY ROMERO')
INSERT [dbo].[REMIX] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [DATE_RELEASE], [LINK_IMG], [ID_TRACK], [LENGTH], [GENRE], [POINT_MONTH], [POINT_ALL], [FULL_ARTIST]) VALUES (3, N'CLUBBER GUIDE', 110, N'K MIN', 1.41, N'/music/13.mp3', CAST(0xE63A0B00 AS Date), N'/IMG/Track/Alesso/clubberguide.jpg', 3, N'3:01', N'PROGRESSIVE HOUSE', 617, 617, N'CLUBBER GUIDE - DJ SNAKE')
GO
SET IDENTITY_INSERT [dbo].[REMIX] OFF
INSERT [dbo].[REMIX_ARTIST] ([ID_REMIX], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [POINT_MONTH], [POINT_ALL], [GENRE]) VALUES (1, 9, N'DAVID GUETTA', N'Spinnin'' Records', 515, 515, N'DRUM BASS')
INSERT [dbo].[REMIX_ARTIST] ([ID_REMIX], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [POINT_MONTH], [POINT_ALL], [GENRE]) VALUES (1, 12, N'DJ SNAKE', N'Spinnin'' Records', 515, 515, N'DRUM BASS')
INSERT [dbo].[REMIX_ARTIST] ([ID_REMIX], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [POINT_MONTH], [POINT_ALL], [GENRE]) VALUES (2, 20, N'NICKY ROMERO', N'Big Beat', 484, 484, N'HARDDANCE')
GO
INSERT [dbo].[SALE] ([LEVEL_], [SALE_INDEX], [CONDITION]) VALUES (1, 5, 5)
INSERT [dbo].[SALE] ([LEVEL_], [SALE_INDEX], [CONDITION]) VALUES (2, 10, 10)
INSERT [dbo].[SALE] ([LEVEL_], [SALE_INDEX], [CONDITION]) VALUES (3, 15, 15)
SET IDENTITY_INSERT [dbo].[SOUNDS] ON 

SET IDENTITY_INSERT [dbo].[SOUNDS] OFF
INSERT [dbo].[STATISTIC_ARTIST] ([ID_ARTIST], [CLICK_MONTH], [CLICK_ALL], [BUY_MONTH], [BUY_ALL]) VALUES (8, 6640, 6640, 6068, 6068)
INSERT [dbo].[STATISTIC_ARTIST] ([ID_ARTIST], [CLICK_MONTH], [CLICK_ALL], [BUY_MONTH], [BUY_ALL]) VALUES (9, 5748, 5748, 7548, 7548)
INSERT [dbo].[STATISTIC_ARTIST] ([ID_ARTIST], [CLICK_MONTH], [CLICK_ALL], [BUY_MONTH], [BUY_ALL]) VALUES (10, 4206, 4206, 3580, 3580)
INSERT [dbo].[STATISTIC_REMIX] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH], [POINT_MONTH], [POINT_ALL]) VALUES (1, 1365, 1365, 232, 232, 515, 515)
INSERT [dbo].[STATISTIC_REMIX] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH], [POINT_MONTH], [POINT_ALL]) VALUES (2, 1792, 1792, 48, 48, 484, 484)
INSERT [dbo].[STATISTIC_REMIX] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH], [POINT_MONTH], [POINT_ALL]) VALUES (3, 1874, 1874, 198, 198, 617, 617)
GO
INSERT [dbo].[STATISTIC_TRACK] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH]) VALUES (1, 49, 49, 0, 0)
INSERT [dbo].[STATISTIC_TRACK] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH]) VALUES (2, 255, 255, 985, 985)
INSERT [dbo].[STATISTIC_TRACK] ([ID], [CLICK_ALL], [CLICK_MONTH], [BUY_ALL], [BUY_MONTH]) VALUES (3, 746, 746, 246, 246)
SET IDENTITY_INSERT [dbo].[STEM] ON 

INSERT [dbo].[STEM] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [LINK_IMG], [DESCRIP], [LENGTH], [POINT_MONTH], [POIN_ALL], [STEMS_ID], [GENRE]) VALUES (1, N'La Reunion', 123, N'D min               ', 3.99, N'1.mp3                                             ', N'lareunion.jpg                                     ', NULL, N'6:38                ', NULL, NULL, 1, N'Tech House')
INSERT [dbo].[STEM] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [LINK_IMG], [DESCRIP], [LENGTH], [POINT_MONTH], [POIN_ALL], [STEMS_ID], [GENRE]) VALUES (2, N'Great Love Train', 122, N'G maj               ', 3.99, N'2.mp3                                             ', N'lareunion.jpg                                     ', NULL, N'7:23                ', NULL, NULL, 1, N'Techno')
INSERT [dbo].[STEM] ([ID], [NAME], [TEMPO], [KEY_], [COST], [LINK], [LINK_IMG], [DESCRIP], [LENGTH], [POINT_MONTH], [POIN_ALL], [STEMS_ID], [GENRE]) VALUES (3, N'The Way', 123, N'D maj               ', 3.99, N'3.mp3                                             ', N'theway.jpg                                        ', NULL, N'6:26                ', NULL, NULL, 2, N'Techno')
SET IDENTITY_INSERT [dbo].[STEM] OFF
INSERT [dbo].[STEM_ARTIST] ([STEM_ID], [ARTIST_ID], [ARTIST_NAME], [NAME_LABEL], [NAME_STEM]) VALUES (1, 40, N'Markus Prez', N'Bit To Bit Records', N'La Reunion Stem')
INSERT [dbo].[STEM_ARTIST] ([STEM_ID], [ARTIST_ID], [ARTIST_NAME], [NAME_LABEL], [NAME_STEM]) VALUES (2, 40, N'Markus Prez', N'Bit To Bit Records', N'Great Love Train')
INSERT [dbo].[STEM_ARTIST] ([STEM_ID], [ARTIST_ID], [ARTIST_NAME], [NAME_LABEL], [NAME_STEM]) VALUES (3, 41, N'ENAI', N'Fresco Records', N'The Way')
SET IDENTITY_INSERT [dbo].[STEMS] ON 

INSERT [dbo].[STEMS] ([STEMS_ID], [NAME], [DATE_RELEASE], [COST], [CATALOG], [IMG]) VALUES (1, N'La Reunion Stem', CAST(0x473B0B00 AS Date), 4.99, NULL, N'lareunionstem.jpg                                 ')
INSERT [dbo].[STEMS] ([STEMS_ID], [NAME], [DATE_RELEASE], [COST], [CATALOG], [IMG]) VALUES (2, N'The Way / Behind Me', CAST(0x473B0B00 AS Date), 4.99, NULL, N'theway.jpg                                        ')
INSERT [dbo].[STEMS] ([STEMS_ID], [NAME], [DATE_RELEASE], [COST], [CATALOG], [IMG]) VALUES (3, N'Intec 100', CAST(0x483B0B00 AS Date), 4.99, NULL, N'intec.jpg                                         ')
SET IDENTITY_INSERT [dbo].[STEMS] OFF
INSERT [dbo].[TOP_6_DJ] ([RANK], [ID_ARTIST], [NAME_ARTIST], [IMG]) VALUES (1, 9, N'DAVID GUETTA', N'./IMG/Artist/davidgueta.jpg')
INSERT [dbo].[TOP_6_DJ] ([RANK], [ID_ARTIST], [NAME_ARTIST], [IMG]) VALUES (2, 8, N'DASH BERLIN', N'./IMG/Artist/dashberlin.jpg')
INSERT [dbo].[TOP_6_DJ] ([RANK], [ID_ARTIST], [NAME_ARTIST], [IMG]) VALUES (3, 12, N'DJ SNAKE', N'./IMG/Artist/djsnake.jpg')
SET IDENTITY_INSERT [dbo].[TRACK] ON 

SET IDENTITY_INSERT [dbo].[TRACK] OFF
INSERT [dbo].[TRACK_ARTIST] ([ID_TRACK], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [COST], [NAME_TRACK], [POINT_ALL], [POINT_MONTH], [GENRE]) VALUES (1, 8, N'DASH BERLIN', N'Spinnin'' Records', 1.25, N'AHORA', 12, 12, N'DEEP HOUSE')
INSERT [dbo].[TRACK_ARTIST] ([ID_TRACK], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [COST], [NAME_TRACK], [POINT_ALL], [POINT_MONTH], [GENRE]) VALUES (1, 22, N'PORTER ROBINSON', N'Big Beat', 1.25, N'AHORA', 12, 12, N'DEEP HOUSE')
INSERT [dbo].[TRACK_ARTIST] ([ID_TRACK], [ID_ARTIST], [NAME_ARTIST], [NAME_LABEL], [COST], [NAME_TRACK], [POINT_ALL], [POINT_MONTH], [GENRE]) VALUES (2, 9, N'DAVID GUETTA', N'Spinnin'' Records', 1.3, N'BAD THING 3', 802, 802, N'DRUM BASS')
GO
SET IDENTITY_INSERT [dbo].[USER] ON 

INSERT [dbo].[USER] ([ID], [FIRSTNAME], [PASSWORD], [EMAIL], [LEVEL_], [LASTNAME]) VALUES (1, N'vu hoang', N'1', N'vuhoangha100995@gmail.com', 1, N'ha')
SET IDENTITY_INSERT [dbo].[USER] OFF
ALTER TABLE [dbo].[FORMULA_HOT] ADD  CONSTRAINT [DF_FORMULA_HOT_CLICK]  DEFAULT ((0)) FOR [CLICK]
GO
ALTER TABLE [dbo].[FORMULA_HOT] ADD  CONSTRAINT [DF_FORMULA_HOT_BUY]  DEFAULT ((0)) FOR [BUY]
GO
ALTER TABLE [dbo].[GENRE_ARTIST] ADD  CONSTRAINT [DF_GENRE_ARTIST_POINT]  DEFAULT ((0)) FOR [POINT]
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST] ADD  CONSTRAINT [DF_STATISTIC_ARTIST_CLI_PER_MON]  DEFAULT ((0)) FOR [CLICK_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST] ADD  CONSTRAINT [DF_STATISTIC_ARTIST_CLI_ALL]  DEFAULT ((0)) FOR [CLICK_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST] ADD  CONSTRAINT [DF_STATISTIC_ARTIST_BUY_PER_MON]  DEFAULT ((0)) FOR [BUY_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST] ADD  CONSTRAINT [DF_STATISTIC_ARTIST_BUY_ALL]  DEFAULT ((0)) FOR [BUY_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] ADD  CONSTRAINT [DF_STATISTIC_REMIX_CLICK_ALL]  DEFAULT ((0)) FOR [CLICK_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] ADD  CONSTRAINT [DF_STATISTIC_REMIX_CLICK_MONTH]  DEFAULT ((0)) FOR [CLICK_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] ADD  CONSTRAINT [DF_STATISTIC_REMIX_BUY_ALL]  DEFAULT ((0)) FOR [BUY_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] ADD  CONSTRAINT [DF_STATISTIC_REMIX_BUY_MONTH]  DEFAULT ((0)) FOR [BUY_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] ADD  CONSTRAINT [DF_STATISTIC_REMIX_POINT_MONTH]  DEFAULT ((0)) FOR [POINT_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_TRACK] ADD  CONSTRAINT [DF_STATISTIC_TRACK_ALL_CLICK]  DEFAULT ((0)) FOR [CLICK_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_TRACK] ADD  CONSTRAINT [DF_STATISTIC_TRACK_CLICK_MONTH]  DEFAULT ((0)) FOR [CLICK_MONTH]
GO
ALTER TABLE [dbo].[STATISTIC_TRACK] ADD  CONSTRAINT [DF_STATISTIC_TRACK_ALL_BUY]  DEFAULT ((0)) FOR [BUY_ALL]
GO
ALTER TABLE [dbo].[STATISTIC_TRACK] ADD  CONSTRAINT [DF_STATISTIC_TRACK_BUY_MONTH]  DEFAULT ((0)) FOR [BUY_MONTH]
GO
ALTER TABLE [dbo].[USER] ADD  CONSTRAINT [DF_USER_LEVEL_]  DEFAULT ((1)) FOR [LEVEL_]
GO
ALTER TABLE [dbo].[ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_ARTIST_LABEL] FOREIGN KEY([ID_LABEL])
REFERENCES [dbo].[LABEL] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ARTIST] CHECK CONSTRAINT [FK_ARTIST_LABEL]
GO
ALTER TABLE [dbo].[CHART]  WITH CHECK ADD  CONSTRAINT [FK_CHART_GENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRE] ([ID])
GO
ALTER TABLE [dbo].[CHART] CHECK CONSTRAINT [FK_CHART_GENRE]
GO
ALTER TABLE [dbo].[GENRE_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_GENRE_ARTIST_ARTIST] FOREIGN KEY([ID_ARTIST])
REFERENCES [dbo].[ARTIST] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GENRE_ARTIST] CHECK CONSTRAINT [FK_GENRE_ARTIST_ARTIST]
GO
ALTER TABLE [dbo].[GENRE_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_GENRE_ARTIST_GENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GENRE_ARTIST] CHECK CONSTRAINT [FK_GENRE_ARTIST_GENRE]
GO
ALTER TABLE [dbo].[GENRE_LABEL]  WITH CHECK ADD  CONSTRAINT [FK_GENRE_LABEL_GENRE] FOREIGN KEY([ID_GENRE])
REFERENCES [dbo].[GENRE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GENRE_LABEL] CHECK CONSTRAINT [FK_GENRE_LABEL_GENRE]
GO
ALTER TABLE [dbo].[GENRE_LABEL]  WITH CHECK ADD  CONSTRAINT [FK_GENRE_LABEL_LABEL] FOREIGN KEY([ID_LABEL])
REFERENCES [dbo].[LABEL] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GENRE_LABEL] CHECK CONSTRAINT [FK_GENRE_LABEL_LABEL]
GO
ALTER TABLE [dbo].[HISTORY_USER]  WITH CHECK ADD  CONSTRAINT [FK_HISTORY_USER_TRACK] FOREIGN KEY([ID_TRACK])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORY_USER] CHECK CONSTRAINT [FK_HISTORY_USER_TRACK]
GO
ALTER TABLE [dbo].[HISTORY_USER]  WITH CHECK ADD  CONSTRAINT [FK_HISTORY_USER_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HISTORY_USER] CHECK CONSTRAINT [FK_HISTORY_USER_USER]
GO
ALTER TABLE [dbo].[NEW_TRACK]  WITH CHECK ADD  CONSTRAINT [FK_NEW_TRACK_TRACK] FOREIGN KEY([ID])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NEW_TRACK] CHECK CONSTRAINT [FK_NEW_TRACK_TRACK]
GO
ALTER TABLE [dbo].[REMIX]  WITH CHECK ADD  CONSTRAINT [FK_REMIX_TRACK] FOREIGN KEY([ID_TRACK])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[REMIX] CHECK CONSTRAINT [FK_REMIX_TRACK]
GO
ALTER TABLE [dbo].[REMIX_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_REMIX_ARTIST_ARTIST] FOREIGN KEY([ID_ARTIST])
REFERENCES [dbo].[ARTIST] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REMIX_ARTIST] CHECK CONSTRAINT [FK_REMIX_ARTIST_ARTIST]
GO
ALTER TABLE [dbo].[REMIX_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_REMIX_ARTIST_REMIX1] FOREIGN KEY([ID_REMIX])
REFERENCES [dbo].[REMIX] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REMIX_ARTIST] CHECK CONSTRAINT [FK_REMIX_ARTIST_REMIX1]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_ARTIST] FOREIGN KEY([ID_ARTIST])
REFERENCES [dbo].[ARTIST] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [FK_SHOW_ARTIST]
GO
ALTER TABLE [dbo].[SOUNDS]  WITH CHECK ADD  CONSTRAINT [FK_SOUNDS_LABEL] FOREIGN KEY([LABEL_ID])
REFERENCES [dbo].[LABEL] ([ID])
GO
ALTER TABLE [dbo].[SOUNDS] CHECK CONSTRAINT [FK_SOUNDS_LABEL]
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIC_ARTIST_ARTIST] FOREIGN KEY([ID_ARTIST])
REFERENCES [dbo].[ARTIST] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STATISTIC_ARTIST] CHECK CONSTRAINT [FK_STATISTIC_ARTIST_ARTIST]
GO
ALTER TABLE [dbo].[STATISTIC_REMIX]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIC_REMIX_REMIX] FOREIGN KEY([ID])
REFERENCES [dbo].[REMIX] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STATISTIC_REMIX] CHECK CONSTRAINT [FK_STATISTIC_REMIX_REMIX]
GO
ALTER TABLE [dbo].[STATISTIC_TRACK]  WITH CHECK ADD  CONSTRAINT [FK_STATISTIC_TRACK_TRACK] FOREIGN KEY([ID])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[STATISTIC_TRACK] CHECK CONSTRAINT [FK_STATISTIC_TRACK_TRACK]
GO
ALTER TABLE [dbo].[STEM_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_STEM_ARTIST_ARTIST] FOREIGN KEY([ARTIST_ID])
REFERENCES [dbo].[ARTIST] ([ID])
GO
ALTER TABLE [dbo].[STEM_ARTIST] CHECK CONSTRAINT [FK_STEM_ARTIST_ARTIST]
GO
ALTER TABLE [dbo].[STEM_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_STEM_ARTIST_STEM] FOREIGN KEY([STEM_ID])
REFERENCES [dbo].[STEM] ([ID])
GO
ALTER TABLE [dbo].[STEM_ARTIST] CHECK CONSTRAINT [FK_STEM_ARTIST_STEM]
GO
ALTER TABLE [dbo].[STEM_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_STEM_ARTIST_STEM1] FOREIGN KEY([STEM_ID])
REFERENCES [dbo].[STEM] ([ID])
GO
ALTER TABLE [dbo].[STEM_ARTIST] CHECK CONSTRAINT [FK_STEM_ARTIST_STEM1]
GO
ALTER TABLE [dbo].[TRACK_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_TRACK_ARTIST_ARTIST] FOREIGN KEY([ID_ARTIST])
REFERENCES [dbo].[ARTIST] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACK_ARTIST] CHECK CONSTRAINT [FK_TRACK_ARTIST_ARTIST]
GO
ALTER TABLE [dbo].[TRACK_ARTIST]  WITH CHECK ADD  CONSTRAINT [FK_TRACK_ARTIST_TRACK] FOREIGN KEY([ID_TRACK])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TRACK_ARTIST] CHECK CONSTRAINT [FK_TRACK_ARTIST_TRACK]
GO
ALTER TABLE [dbo].[USER_TRACKLIST]  WITH CHECK ADD  CONSTRAINT [FK_USER_TRACKLIST_TRACK] FOREIGN KEY([ID_PROD])
REFERENCES [dbo].[TRACK] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_TRACKLIST] CHECK CONSTRAINT [FK_USER_TRACKLIST_TRACK]
GO
ALTER TABLE [dbo].[USER_TRACKLIST]  WITH CHECK ADD  CONSTRAINT [FK_USER_TRACKLIST_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_TRACKLIST] CHECK CONSTRAINT [FK_USER_TRACKLIST_USER]
GO
ALTER TABLE [dbo].[USER_VIDEOLIST]  WITH CHECK ADD  CONSTRAINT [FK_USER_VIDEOLIST_USER] FOREIGN KEY([ID_USER])
REFERENCES [dbo].[USER] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_VIDEOLIST] CHECK CONSTRAINT [FK_USER_VIDEOLIST_USER]
GO
ALTER TABLE [dbo].[USER_VIDEOLIST]  WITH CHECK ADD  CONSTRAINT [FK_USER_VIDEOLIST_VIDEO] FOREIGN KEY([ID_VIDEO])
REFERENCES [dbo].[VIDEO] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_VIDEOLIST] CHECK CONSTRAINT [FK_USER_VIDEOLIST_VIDEO]
GO
USE [master]
GO
