
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/MainLayout.cshtml";
}

@using WebMusic.Models
@model Int16

<link href="~/Content/MainLayout_CSS/Label.css" rel="stylesheet" />

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 detail-label-wrap">

                @Html.Action("Detail", "Label", new {@id = @Model})
                @Html.Action("Artist_Label", "Label", new { @id = @Model})
                @Html.Action("Track_Label", "Label", new { @id = @Model })

            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/MainLayout_JS/Label.js"></script>