<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-banner">
                    <div class="div-banner">
                        <a href="#"><img stt="0" class="banner-img banner-img-active" src="~/Image/sounds/1.jpg" alt=""></a>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="1" class="banner-img" src="~/Image/sounds/2.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="2" class="banner-img" src="~/Image/sounds/3.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="3" class="banner-img" src="~/Image/sounds/4.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="4" class="banner-img" src="~/Image/sounds/5.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="5" class="banner-img" src="~/Image/sounds/6.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="6" class="banner-img" src="~/Image/sounds/7.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="7" class="banner-img" src="~/Image/sounds/8.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="8" class="banner-img" src="~/Image/sounds/9.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="9" class="banner-img" src="~/Image/sounds/10.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <div class="div-banner">
                        <a href="#"><img stt="10" class="banner-img" src="~/Image/sounds/11.jpg" alt=""></a>
                        <span class="extra">
                            <a class="btn-items play-button" href="#"></a>
                            <a class=" btn-items menu-button" href="#"></a>
                        </span>
                    </div>
                    <ul class="slider slider-banner">
                        <li stt="0" class="slider-li slider-banner-li slider-banner-li-active"></li>
                        <li stt="1" class="slider-li slider-banner-li"></li>
                        <li stt="2" class="slider-li slider-banner-li"></li>
                        <li stt="3" class="slider-li slider-banner-li"></li>
                        <li stt="4" class="slider-li slider-banner-li"></li>
                        <li stt="5" class="slider-li slider-banner-li"></li>
                        <li stt="6" class="slider-li slider-banner-li"></li>
                        <li stt="7" class="slider-li slider-banner-li"></li>
                        <li stt="8" class="slider-li slider-banner-li"></li>
                        <li stt="9" class="slider-li slider-banner-li"></li>
                        <li stt="10" class="slider-li slider-banner-li"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>