<div class="footer">
    <div id="upper-footer">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-3">
                    <div class="logo">
                        <img src="~/Image/sounds/logof.jpg" alt="" />
                        <br><span class="copyright">© 2004-2016 Beatport, LLC</span>
                    </div>
                    <p>play with music™</p>
                </div>
                <div class="col-xs-3">
                    <h3>COMPANY</h3>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Redeem Invite Code</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Logos & Images</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy and Cookie Policy</a></li>
                        <li><a href="#">Report Copyright Infringement</a></li>
                        <li><a href="#">Give Us feedback</a></li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h3>NETWORK</h3>
                    <ul>
                        <li><a href="#">Beatport News</a></li>
                        <li><a href="#">Distribution by Baseware</a></li>
                        <li><a href="#">Beatport Pro for Desktop</a></li>
                        <li><a href="#">Request an API Key</a></li>
                        <li class="social-network">
                            <a class="social-link" href="#" title="Like Us On Facebook" target="_blank"><img src="~/Image/sounds/fb.png" alt="" /></a>
                            <a class="social-link" href="#" title="Follow Us On Twitter" target="_blank"><img src="~/Image/sounds//tw.png" alt=""></a>
                            <a class="social-link" href="#" title="Join Us On Google+" target="_blank"><img src="~/Image/sounds/g+.png" alt=""></a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <h3>LANGUAGE</h3>
                    <ul>
                        <li><a href="#">English (EN)</a></li>
                        <li><a href="#">Deutsch (DE)</a></li>
                        <li><a href="#">Français (FR)</a></li>
                        <li><a href="#">Español (ES)</a></li>
                        <li><a href="#">Italiano (IT)</a></li>
                        <li><a href="#">Português (BR)</a></li>
                        <li><a href="#">日本語 (JP)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>