<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer-left pull-left col-xs-3">
                    <div class="footer-logo">
                        <img src="~/Image/charts/logo.png" alt="">
                        <br>
                        <span class="copyright">© 2004-2016 Beatport, LLC</span>
                    </div>
                    <div class="social-network">
                        <a class="social-link" href="#" title="Like Us On Facebook" target="_blank"><img src="~/Image/sounds/fb.png" alt="" /></a>
                        <a class="social-link" href="#" title="Follow Us On Twitter" target="_blank"><img src="~/Image/sounds/tw.png" alt=""></a>
                        <a class="social-link" href="#" title="Join Us On Google+" target="_blank"><img src="~/Image/sounds/google.png" alt=""></a>
                    </div>
                    <div class="pay-link">
                        <img src="~/Image/charts/card.png" alt="">
                        <p>PREFERRED CARD OF BEATPORT</p>
                    </div>
                </div>
                <div class="footer-right pull-right col-xs-9">
                    <div class="col-xs-4">
                        <h3>COMPANY</h3>
                        <ul class="footer-ul">
                            <li><a href="#">About Beatport</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Customer Support</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Logos & Images</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy and Cookie Policy</a></li>
                            <li><a href="#">Report Copyright Infringement</a></li>
                            <li><a href="#">Feedback</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>NETWORK</h3>
                        <ul class="footer-ul">
                            <li><a href="#">Beatport Classic</a></li>
                            <li><a href="#">Beatport Sounds</a></li>
                            <li><a href="#">Beatport Mixes</a></li>
                            <li><a href="#">Beatport Pro for Desktop</a></li>
                            <li><a href="#">Beatport Play</a></li>
                            <li><a href="#">Beatport DJs</a></li>
                            <li><a href="#">Beatport News</a></li>
                            <li><a href="#">Distribution by Baseware</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <h3>LANGUAGE</h3>
                        <ul class="footer-ul">
                            <li><a href="#">English (EN)</a></li>
                            <li><a href="#">Deutsch (DE)</a></li>
                            <li><a href="#">Français (FR)</a></li>
                            <li><a href="#">Español (ES)</a></li>
                            <li><a href="#">Italiano (IT)</a></li>
                            <li><a href="#">Português (BR)</a></li>
                            <li><a href="#">日本語 (JP)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>