<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li class="subnav">
                            <button class="genres">GENRES <span class="caret"></span></button>
                            <ul class="drop-shadow">
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Breaks</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Hip-Hop</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Chill Out</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">House</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">DJ Tools</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Indie Dance / Nu</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Deep House</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Disco</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Drum & Bass</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Minimal</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Dubstep</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Pop / Rock</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Electro House</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Progressive House</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Electronica</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Psy Trance</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Funk / R&B</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Reggae / Dub</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Glitch Hop</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Tech House</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Hard Dance</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Techno</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Harcore / Hard</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">Trance</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Techno</a>
                                        <a href="#"></a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="subnav"><a href="#">TRACKS</a></li>
                        <li class="subnav"><a href="#">RELEASES</a></li>
                        <li class="subnav"><a href="@Url.Action("Index","Charts")">CHARTS</a></li>
                        <li class="subnav"><a href="@Url.Action("Index","Stems")">STEMS</a></li>
                        <li class="subnav"><a href="#">SOUNDS</a></li>
                    </ul>
                    <form class="form-search" action="#" method="get">
                        <button class="search-submit" type="submit" value=""><span class="glyphicon glyphicon-search"></span></button>
                        <input class="search-input" type="text" placeholder="SEARCH...">
                    </form>
                    <button class="btn-cart" type="button"><span class="glyphicon glyphicon-shopping-cart"></span></button>
                </div>
            </div>
        </div>
    </div>
</div>