<div id="menu">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="navbar-menu">
                    <a href="#" class="navbar-brand pull-left"><img src="~/Image/sounds/logo-beatport-sounds.png" alt=""></a>
                    <ul class="dropdown-menu-parent pull-left">
                        <li class="btn-li">
                            <button class="btn-menu dropdown-toggle" type="button">GENRES <span class="caret"></span></button>
                            <ul class="drop-shadow">
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Breaks</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">House</a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-li">
                            <button class="btn-menu dropdown-toggle" type="button">EXPLORE <span class="caret"></span></button>
                            <ul class="drop-shadow">
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Tutorials</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Promos</a>
                                    </span>
                                </li>
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">Staff Picks</a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                        <li class="btn-li">
                            <button class="btn-menu dropdown-toggle" type="button">LABELS <span class="caret"></span></button>
                            <ul class="drop-shadow labelsDropdown potato-menu-group potato-menu-vertical" style="display: none;">
                                <li class="dropdown-menu-items">
                                    <span class="items-row">
                                        <a href="#">!llmind Productions</a>
                                    </span>
                                    <span class="items-row">
                                        <a href="#">100</a>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="form-search" action="#">
                        <input class="search-input" type="search" placeholder="Search Packs, Publisher or Style">
                        <input class="search-submit" type="submit" value="SEARCH">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>