<header>
    <nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navHeaderCollapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li><a href="#">Store</a></li>
                                <li><a href="#">Classic</a></li>
                                <li class="livetag"><a href="#">Sounds</a></li>
                                <li><a href="#">Mixes</a></li>
                                <li><a href="#">DJs</a></li>
                                <li><a href="#">Play</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li id="login"><a href="#">Login</a></li>
                                <li id="create-account"><a href="#">Create an account</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span>(0) S0.00</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-login">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="login">
                            <div class="col-xs-6">
                                <h1>LOG IN</h1>
                                <p>
                                    Used to log in with Facebook, Twitter, Google or Paypal?
                                    <br><br>
                                    <a href="#">Click here</a> to reset your password and log-in.
                                    <br>
                                    (Need help? Visit our <a href="#">FAQ Page</a>)
                                </p>
                            </div>
                            <div class="col-xs-6">
                                <fieldset>
                                    <button class="btn-close" type="button" title="close"></button>
                                    <h5>WITH YOUR BEATPORT ACCOUNT</h5>
                                    <h6>USERNAME</h6>
                                    <input id="username" class="login-info" type="text" name="username" value="">
                                    <h6>PASSWORD</h6>
                                    <input id="password" class="login-info" type="password" name="password" value="">
                                </fieldset>
                                <a href="#">Forgot Your Password?</a>
                                <br>
                                <div class="submit">
                                    <button class="btn-login" type="submit">LOG IN</button>
                                    <input id="savepass" type="checkbox" name="savepass" value="">
                                    <span>KEEP ME LOGGER IN</span>
                                </div>
                                <a href="#">CREATE AN ACCOUNT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-create">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="create">

                            <h2>Customize your Beatport Experience</h2>
                            <p>
                                Not a Beatport customer? Sign up for an account now. Registration takes seconds and gives you the ability to find out when your favorite artists and labels add new music.
                                <br>
                                Already have a Beatport ID?<a href="#">Sign in.</a>
                                <br>
                                <a href="#">Forgot your password?</a>
                            </p>
                            <div class="create-wrap">
                                <h4><span class="glyphicon glyphicon-lock"></span> CREATE AN ACCOUNT</h4>
                                <form class="form-create-account" action="#">
                                    <p class="form-title">OR FILL IN THE FIELDSBELOW</p>
                                    <hr>
                                    <field>
                                        <button class="btn-close" type="button" title="close"></button>
                                        <div class="account-info">
                                            <p class="info-title">YOUR FIRST NAME</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">YOUR LAST NAME</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">EMAIL ADDRESS</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">CONFIRM EMAIL ADDRESS</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">USERNAME</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">PASSWORD</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <div class="account-info">
                                            <p class="info-title">CONFIRM PASSWORD</p>
                                            <input class="account-info-input" type="text">
                                        </div>
                                        <p class="form-title">EMAIL PREFERENCES</p>
                                        <hr>
                                        <p class="check">Yes! I want aleets about:</p>
                                        <div class="div-check">
                                            <input class="check-info" type="checkbox">
                                            <span>Discounts, Promotions, Giveaways, New Music and My Beatport Updates</span>
                                        </div>
                                        <div class="div-check">
                                            <input class="check-info" type="checkbox">
                                            <span>Remix contents and other updates for producers</span>
                                        </div>
                                        <div class="div-btn-create">
                                            <button class="btn-create" type="submit">CREATE ACCOUNT</button>
                                            <p>By clicking this button you agree to the</p>
                                            <a href="#">Beatport Terms of Use</a>
                                        </div>
                                    </field>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>