<header>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="navbar-header">
                        <a class="navbar-brand header-logo" href="#" target="_parent">
                            <img src="~/Image/charts/logo.png" alt="Beatport">
                        </a>
                        <button class="navbar-toggle" data-toggle="collapse" data-target="#navHeaderCollapse">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navHeaderCollapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="livetag"><a href="#">Store</a></li>
                                <li><a href="#">Listen</a></li>
                                <li><a href="#">Show</a></li>
                                <li><a href="#">Video</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <span class="glyphicon glyphicon glyphicon-user"></span>
                                <button id="login" type="button">Log In / Sign</button>
                                <div class="login-drop-shadow">
                                    <h2>WELCOME TO BEATPORT</h2>
                                    <p>Beatport is the world's largest electronic music store for DJs</p>
                                    <button class="login-btn-create" type="button">CREATE AN ACCOUNT</button>
                                    <fieldset>
                                        <legend>Already have an account? Sign in</legend>
                                        <form action="#">
                                            <input class="login-info" type="text" placeholder="Username">
                                            <input class="login-info" type="password" placeholder="Password">
                                            <input class="login-check" type="checkbox">
                                            <span>Remember me</span>
                                            <button class="btn-login" type="submit">LOG IN</button>
                                            <p>
                                                <a href="#">Forgot your username or password?</a>
                                            </p>
                                        </form>
                                    </fieldset>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-create">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="create">
                            <button class="btn-close" type="button" title="close"></button>
                            <h2>Customize your Beatport Experience</h2>
                            <p class="login-shortcut">
                                Have a Beatport ID? <a href="#">Sign in here</a>
                            </p>
                            <br>
                            <span>Welcome to Beatport! Please fill out the fields below:</span>
                            <div class="create-wrap">
                                <form class="form-create-account" action="#">
                                    <div class="account-info">
                                        <p class="info-title">YOUR FIRST NAME</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">YOUR LAST NAME</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">CHOOSE A USERNAME</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">CHOOSE A PASSWORD</p>
                                        <input class="account-info-input" type="text">
                                        <div class="notice">Your password must be at least 8 characters long, contain no spaces, and contain at least 1 number 1 alphabetic charracter. Remember, your password is Case Sensitive.</div>
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">CONFIRM PASSWORD</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">EMAIL ADDRESS</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">CONFIRM PASSWORD</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="account-info">
                                        <p class="info-title">CONFIRM EMAIL ADDRESS</p>
                                        <input class="account-info-input" type="text">
                                    </div>
                                    <div class="div-btn-create">
                                        <button class="btn-create" type="submit">CREATE ACCOUNT</button>
                                        <p>
                                            By clicking this button you agree to the <a href="#">Beatport Terms of Use</a>
                                        </p>
                                        <hr>
                                        <p>
                                            Already have a Beatport account? <a href="#">Sign in.</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>