


@if (ViewBag.UserName != null)
{
    <div class="pull-right" id="userForm">
        <a href="@Url.Action("CartDetail","Cart")" id="cartButton">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            <span id="TotalDebt">$@ViewBag.TotalDebt</span>
        </a>
        <div class="cart-info" id="cartUserName">@ViewBag.UserName</div>
    </div>
    <script type="text/javascript">
        document.getElementById("login-button").style.display = 'none';
        document.getElementById("register-button").style.display = 'none';
    </script>
}








