
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/Areas/Admin/Script/Libraly/jquery-2.2.3.js"></script>
    <link href="~/Areas/Admin/Content/Style/style-upload.css" rel="stylesheet" />
</head>
<body>
    <a href="@Url.Action("UploadMusic","Upload")">Upload Music</a>
</body>
</html>
