

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1" />
    <link href="~/Areas/Admin/Content/Libraly/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/Style/style-admin-update.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Script/Main/main-admin-update.js"></script>
    <title>View</title>
</head>
<body>
<div id="adminLogin">
    <input type="text" id="adminUser"/>
    <input type="password" id="adminPassword"/>
    <div id="adminSubmit">Login</div>
</div>
<div id="contentUpdateAdmin">
    <div id="updateAll" class="update">Update All</div>
    <div class="update">
        <span class="updateTitle">New Track</span>
        <span class="updateButton" onclick="updateClick(this, 'new-track')">Update</span>
    </div>
    <div class="update">
        <span class="updateTitle">New Track</span>
        <span class="updateButton" onclick="updateClick(this, 'new-track')">Update</span>
    </div>
    <div class="update">
        <span class="updateTitle">New Track</span>
        <span class="updateButton" onclick="updateClick(this, 'new-track')">Update</span>
    </div>
</div>

<script src="~/Areas/Admin/Script/Main/main-layout.js"></script>
</body>
</html>
