@model List<WebMusic.Models.GENRE>

<div class="chart-list">
    <h2>DJ CHARTS BY GENRES</h2>
    <ul class="chart-type">
        @{
            foreach (var item in Model)
            {
                <li><a href="#">@item.NAME</a></li>
            }
        }
    </ul>
</div>
